<div>
  <div *ngIf=" currentProduct.id">
    <img src="https://groca.myshopify.com/cdn/shop/products/Shop-4.png?v=1583912981&width=535" alt="..." width="250">
    <p>
      {{ currentProduct.description }}
    </p>

    <div class="mt-2">
      <strong class="mr-2">Price:</strong>
      <span>{{ currentProduct.price }}</span>
    </div>

    <div class="mt-2">
      <strong class="mr-2">Quantity:</strong>
      <span>{{ currentProduct.qty }}</span>
    </div>


    <div class="mt-2">
      <strong class="mr-2">Category:</strong>
      <span>{{ currentProduct.category }}</span>
    </div>

    <!-- <a class="badge badge-warning" routerLink="/products/{{ currentProduct.id }}">
      Edit
    </a> -->
  </div>

  <div *ngIf="!currentProduct">
    <br />
    <p>Please click on a Product...</p>
  </div>
</div>