<section class="sign-up-container">
    <picture class="hero-image">
        <img src="assets/images/grocery-store.png" alt="image of grocery store" />
    </picture>
    <article class="hero-content">
        <h1>Sign Up to Simply Organic</h1>
        <form class="mt-4">
            <div class="mb-4">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control mt-2" id="username" name="username" />
            </div>
            <div class="mb-4">
                <label for="emailAddress" class="form-label">Email address</label>
                <input type="email" class="form-control mt-2" id="emailAddress" name="emailAddress" />
            </div>
            <div class="mb-4">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control mt-2" id="password" name="password" />
            </div>
            <button class="btn-nav btn-nav-primary mt-2">Sign Up</button>
            <p class="sign-up-info mt-2">Already have an account? <a routerLink="login">Sign In</a></p>
        </form>
    </article>
</section>